---
import Layout from "../layouts/Layout.astro";

const currentPath = Astro.url.pathname;
---

<Layout>
  <div
    class="h-[calc(100vh-250px)] flex flex-col w-full lg:w-screen justify-center items-center"
  >
    <h1 class="text-9xl font-extrabold">404</h1>
    <p class="pt-5 text-base">Page Not Found ({currentPath})</p>
    <button
      back-home
      class="mt-10 shadow-lg rounded-full py-2 px-8 bg-blue-400 text-white font-semibold cursor-pointer"
      type="button"
    >
      Back to Home.
    </button>
  </div>
</Layout>

<script>
  const buttons = document.querySelectorAll("button[back-home]");
  buttons.forEach((button) => {
    button.addEventListener("click", () => {
      window.location.replace("/");
    });
  });
</script>
