---
import Layout from "../layouts/Layout.astro";

const currentPath = Astro.url.pathname;
---

<Layout>
  <div
    class="h-[calc(100vh-250px)] flex flex-col w-full lg:w-screen justify-center items-center"
  >
    <h1 class="text-9xl font-extrabold">404</h1>
    <p class="pt-5 text-base">Page Not Found ({currentPath})</p>
    <a href="/">
      <div class="pt-10 text-blue-500">Back to home.</div>
    </a>
  </div>
</Layout>
