---
import Logo from "./Logo.astro";
---

<footer>
  <div class="lg:w-screen flex flex-col items-center justify-center py-5">
    <Logo class="h-28 w-24 pb-5" />
    <p class="text-center text-base">This Portofolio was developed by Rifqi Mufidianto (me)</p>
  </div>
</footer>
