---
import Section from "../layouts/Section.astro";
import projects from "../data/projects.json";

interface Project {
  id: number;
  title: string;
  url?: string;
  repository_url?: string;
}

let newProjects = projects as Project[];

newProjects = newProjects.filter((project) => project.url || project.repository_url);
---

<Section title="project">
  <div class="lg:w-screen py-32">
    <div class="lg:px-40 px-20 flex items-center">
      <div class="w-full">
        <h1 class="text-5xl font-semibold py-5 text-center">Projects</h1>
        <div class="flex flex-wrap justify-center gap-4 pt-5">
          {
            newProjects.map((project) => (
              <div class="hover:underline font-medium text-3xl px-3 py-2">
                <a href={`${project.url ?? project.repository_url}`}>{project.title}</a>
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </div>
</Section>
