---
import Logo from "../components/Logo.astro";
import Section from "../layouts/Section.astro";
---

<Section title="home">
  <div class="lg:w-screen h-[calc(100vh-64px)] flex">
    <div class="justify-between px-5 lg:px-40 py-8 flex-col-reverse lg:flex-row items-center flex">
      <div>
        <h1 class="text-4xl lg:text-5xl font-bold lg:text-start text-center">Hi, I'm Rifqi Mufidianto.</h1>
        <p class="py-5 lg:pr-20 lg:text-start text-center">
          Known as <a href="https://github.com/mufiidz" style="text-decoration: underline;">Mufiidz</a> on GitHub, as a <b>Mobile developer</b> specializing in Flutter and Kotlin. Based in Bekasi, Indonesia, currently enhancing skills in multiplatform development.
        </p>
        <!-- <div class="pt-5 flex justify-center lg:justify-start">
          <a
            href="/cv"
            class="bg-blue-500 text-white font-semibold py-3 px-8 rounded-full hover:bg-blue-600 hover:shadow-xl transition duration-300"
          >
            Lihat CV
          </a>
        </div> -->
      </div>
      <div class="w-full h-full lg:h-min justify-center flex items-center">
        <Logo class="lg:h-1/2 w-1/2" loading="eager" />
      </div>
    </div>
  </div>
</Section>
